<!DOCTYPE html>
<html>

<!-- Header -->
<head>
  <meta<!DOCTYPE html>
<html>

<!-- Header -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Tech Traversers</title>
  <link href="https://techtraversers.github.io/style.css" rel="stylesheet" type="text/css" />
  <link href="https://techtraversers.github.io/script.js"></script>
  <link rel="icon" type="image/png" href="Pictures/ttIcon.png">
</head>

<body>
  <!-- Header & background image -->
  <div id="image">
  <h1 id = "webTop"><strong>Tech Traversers</strong></h1>
  </div>

  <!-- Sidebar -->
  <div class="container">
    <div class="sidebar">
    <a href="index.html">Home</a>
    <a href="https://techtraversers.github.io/ourservices/index.html">Our Services</a>
    <a href="https://techtraversers.github.io/ourvalues/index.html">Our Values</a>
    <a href="https://techtraversers.github.io/aboutus/index.html">About Us</a>
    <a href="https://techtraversers.github.io/downloads/index.html">Downloads</a>
    </div>
  </div>

  <!-- Text -->
  <div></div>
  <h2 id = "busyText">The best-priced programmers available commercially in Buffalo, WY! When you need programming for cheap, call us!</h2>
    
  <!-- Limited Offer -->
  <div></div>
  <h2 id="offerText">LIMITED OFFER! The first 10 people to contact us for a consultation get the required service <strong>completely free</strong>!</h2>
    
  <!-- Consultation message -->
  <div></div>
  <p class="nonColumnText"><a href="mailto:traversertech@gmail.com?subject=Contact%20Request&body=This%20is%20a%20email%20to%20contact%20Tech%20Traverser">Contact us</a> for a free consultation!</p>
    
  <!-- Lower section -->
  <div></div>
  <h2 id="startLowerPage">We want to help!</h2>

  <!-- Columns -->
  <div></div>
  <div></div>
  <div class="row">
  <div class="column" id="column1">
    <h2>Software Development</h2>
    <p>We make quality applications in two languages, Python and C++. We program both text-based and graphical apps, with a wide range of features and customizations.</p>
  </div>
  <div class="column" id="column2">
    <h2>IT Help</h2>
    <p>We can help with many software issues and complaints. Simply <a href="mailto:traversertech@gmail.com?subject=Contact%20Request&body=This%20is%20a%20email%20to%20contact%20Tech%20Traverser">ask us</a> for a free consultation and we can discuss solutions and options.</p>
  </div>
  </div>
  </div>
  
  <!-- Footer -->
  <div>
    <footer id = "contact-info">
      Contact us at <a href="mailto:traversertech@gmail.com?subject=Contact%20Request&body=This%20is%20a%20email%20to%20contact%20Tech%20Traverser">traversertech@gmail.com</a> (currently only serving Buffalo, WY area)
    </footer>
  </div>
</body>

</html>
