<!DOCTYPE html>
<html>

<!-- Header -->
<head>
  <meta<!DOCTYPE html>
<html>

<!-- Header -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Tech Traversers</title>
  <link href="https://techtraversers.github.io/style.css" rel="stylesheet" type="text/css" />
  <link href="https://techtraversers.github.io/script.js"></script>
  <link rel="icon" type="image/png" href="Pictures/ttIcon.png">
</head>

<body>
  <!-- Header & background image -->
  <div id="image">
  <h1 id = "webTop"><strong>Tech Traversers</strong></h1>
  </div>

  <!-- Sidebar thing - everything goes here?-->
  <div class="container">

    <h2>We are a couple of programmers based in Buffalo, WY. We would like to provide programming and technology services to the best of our ability (we are not experts yet)</h2>

  <!-- Sidebar -->
    <div class="sidebar">
    <a href="index.html">Home</a>
    <a href="https://techtraversers.github.io/ourservices/index.html">Our Services</a>
    <a href="https://techtraversers.github.io/ourvalues/index.html">Our Values</a>
    <a href="https://techtraversers.github.io/aboutus/index.html">About Us</a>
    <a href="https://techtraversers.github.io/downloads/index.html">Downloads</a>
    </div>
</body>

</html>
