html {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font: Ubuntu;
}
.hidden{
  opacity: 0;
}
body{
  background-color: mintcream;
}

#contact-info{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#button {
  background-color: gold;
  color: red;
  margin: 10px;
}
#button2 {
  background-color: gold;
  color: red;
  align-content: right;
  margin: 10px;
}
.heading{
  text-align: center;
}
#webTop{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: -40px;
  background-color: #44ff00;
  text-align: center;
  font-size: 80px;
  margin: 25px;
}

.linkButton{
  margin:5px;
}

#image{
  background-image: url(Pictures/what_is_a_programming_language.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  padding-top: 10px;
}

#busyText{
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
}

/* Dropdown Button */
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
